<h1>User List</h1>

<table class="table">
  <thead>
    <th>Email</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to '#', class: "btn btn-primary pull-right" do %>
  <i class="fa fa-print"></i> Generate Report
<% end %>